*,*:before, *:after{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}
.top-page{
  	position: relative;
  	z-index: 1;
  	text-align: center;
  	background-color: #4d34d3;
  	height: 100vh;
  	display: flex;
  	flex-direction: column;
  	justify-content: space-around;
  	align-items: center;
}
.top-page__h1{
	color: #adeeee;
	font-size: 250px;
	text-transform: uppercase;
	line-height: 139px;	
}
.top-page__h2{
	color: #adeeee;	
	font-size: 27px;
	padding-top: 50px;
}
.page{
	height: auto;
	padding-top: 75px; 
	padding-bottom: 50px;
	position: relative;
}
.page-bgc--golub{
	background-color: #adeeee;
}
.page-bgc--fiol{
	background-color: #4d34d3;
}
.page-color--fiol{
	color: #4d34d3;
}
.page-color--golub{
	color: #adeeee;
}
.container-text__h3{
	/*padding-top: 80px;*/
	font-size: 25px;
	line-height: 28px;
	margin:0;
}
.container-text__h2{
	font-size: 100px;
	line-height: 88px;
	margin-bottom: 40px;
}
.container-text__about{
	font-size: 25px;
    line-height: 32px;
    font-weight: 200;
	margin-bottom: 20px;
	display: inline-block;
}
.container-text__fiol p{
	font-size: 18px;
    line-height: 28px;
    color: #53565a;
    font-weight: 200;
}
.container-text__golub p{
	font-size: 18px;
    line-height: 28px;
    color: #ddeeff;
    font-weight: 200;
}

.container-image {
	position: sticky;
	max-width: 100%;
	height: auto;
	top: 0;
	bottom: 0;
	padding-top: 40px;
}
.container-image-border_fiol img{

	width: 400px;
	height: 225px;
	border: 2px solid #4d34d3;
	position: relative;
}
.container-image-border_golub img{

	width: 400px;
	height: 225px;
	border: 2px solid #adeeee;
	position: relative;
}
.container-image__image1{
	z-index: 1;
}
.container-image__image2{
	left: 150px;
	top: -30px; 
}
.container-image__image3{
	left: 80px;
	top: -65px;
}
.container-image__button{
	display: none;
}
.arrow-up{
	position: absolute;
	left: 0;
	right: 0 ;
	bottom: 0;
    width: 100px;
    height: 50px;
    border-radius: 100px 100px 0 0;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    margin: 0px auto;
    cursor: pointer;
}

.arrow-up span{
	font-size: 27px;
    line-height: 28px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    transform: translateY(-50%) rotate(90deg);
    -webkit-transform: translateY(-50%) rotate(90deg);
    width: 25px;
    margin: 0 auto;
}
.arrow--fiol{
	 color: #4d34d3;
	 background: #adeeee;
}
.arrow--golub{
	 color: #adeeee;
	 background: #4d34d3;
}

.arrow-down{
	position: absolute;
	left: 0;
	right: 0 ;
	top: 0;
    width: 100px;
    height: 50px;
    border-radius: 0 0 100px 100px ;
    -moz-border-radius:  0 0 100px 100px;
    -webkit-border-radius:  0 0 100px 100px;
    margin: 0px auto;
    cursor: pointer;
}
.arrow-down span{
	font-size: 27px;
    line-height: 28px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    transform: translateY(-50%) rotate(90deg);
    -webkit-transform: translateY(-50%) rotate(90deg);
    width: 25px;
    margin: 0 auto;
}
.sticky {
  position: fixed;
  top: 0;
	left:0;
}
.sticky2 {
  position: fixed;
  bottom: 0;
}


/*Экстрабольшие девайсы <=1200*/
@media (max-width: 1200px) {
	.container-image__image1{
		z-index: 1;
	}
	.container-image__image2{
		left: 70px;
		top: -30px;
	}
	.container-image__image3{
		left: 30px;
		top: -65px;
	}
	.container-text__h3{
		font-size: 25px;
		line-height: 28px;
	}
	.container-text__h2{
		font-size: 55px;
		line-height: 55px;
		margin-bottom: 20px;
	}
	.container-text__about{
		font-size: 18px;
	    line-height: 32px;    
	}
	.container-text__fiol p{
		font-size: 18px;
	    line-height: 28px;

	}
	.container-text__golub p{
		font-size: 18px;
	    line-height: 28px; 
	}

}

@media (max-width: 992px) {
	.top-page__h1{
		font-size: 84px;
		line-height: 139px;
	}
	.top-page__h2{
		display: none;
	}
	.container-image-border_fiol img{
		width: 250px;
		height: 170px;
	}
	.container-image-border_golub img{
		width: 250px;
		height: 170px;
	}
	.arrow-up{
	display: none;
	}
	.arrow-down{
		display: none;
	}
	.page{
		padding-bottom: 70px;
	}
}
/*Средние девайсы <=768*/
@media (max-width: 768px) {
	.container-text__about, .container-text__fiol p, .container-text__golub p{
		display: none;
	}
	.container-image{
		padding-top: 0;
	}
	.container-image__image1, .container-image__image3{
		display: none;
	}
	.container-image__image2{
		top: 0 ;
		left: 0 ;
	}
	.container-image-border_fiol img{
		width: 100%;
		height: 100%;
	}
	.container-image-border_golub img{
		width: 100%;
		height: 100%;
	}
	.container-image__button{
		position: relative;
	    font-size: 20px;
	    font-weight: 600;
	    line-height: 50px;
	    text-transform: uppercase;
	    border: none ;
	    top: 35px;
	    left: 0px;
	    width: 100%;
	    display: block;
	    cursor: pointer;
}
.arrow-up{
	display: none;
}
.arrow-down{
	display: none;
}
.page{
	padding-bottom: 70px;
}
}